.Button {
  background-color: #18C3E5;
  padding: 10px;
  font-weight: 700;
  color: #fff;
  border: none;
  transition: background-color 1s, transform 1s;
  margin-top: 30px;
  border-radius: 5px;
}

.Button:hover {
  background-color: #144E80;
}

.Button:disabled {
  background-color: #555;
  color: #777;
  cursor: not-allowed;
}