.Dropdown {
  color: #fff;
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.Dropdown-label {
  padding-right: 14px;
}

.Dropdown-label-after {
  padding-left: 10px;
}

.Dropdown-select {
  padding: 2px;
  border: none;
  border-radius: 5px;
}